# Python cache files
__pycache__/
*.pyc
*.pyo

# System / editor configs
.vscode/
.idea/
.DS_Store

# Datasets and large files
*.pdf
*.csv
*.txt
*.docx
data/
datasets/
colab_notebooks/
results/
documentation/
utilities/
Submission/


# Environment / secrets
.env
*.env
