torch
numpy
scikit-learn
sentence-transformers
transformers
faiss-cpu
nltk
bert-score
wordcloud
matplotlib
Pillow
SpeechRecognition
pyttsx3
pyaudio
requests
beautifulsoup4
accelerate
bitsandbytes
sentencepiece
